<header>
  <div class="logo-prismo">
    <a routerLink="/">
      <img src="assets/images/prismo-logo.png" alt="Logo Prismo">
    </a>
  </div>
  <div class="header-links">
    <a routerLink="/welcome">Accueil</a>
    <a routerLink="/members-list">Membres</a>
  </div>
</header>
