header {
  background: #00ced1;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;

  .logo-prismo {
    position: relative;

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  
  .header-links {
    a {
      line-height: 80px;
      vertical-align: center;
      color: white;

      &:first-of-type {
        padding-right: 20px;
      }
    }
  }
}
