.historic-component {
  max-width: 400px;
  margin: 0 auto;

  ul {
    padding: 10px 30px;
    margin: 0;
    list-style:none;
  }

  .no-visit {
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .prismo-btn {
    margin: 0 0 30px 30px;
  }
}
