<div class="body-component historic-component">
  <h1>Profils déjà visités :</h1>
  <ul *ngIf="visitedMembersList.length > 0">
    <app-member-card *ngFor="let member of visitedMembersList"
                     [member]="member"></app-member-card>
  </ul>
  <div class="no-visit" *ngIf="visitedMembersList.length === 0">Pas encore de profil visité...</div>
  <a routerLink="/members-list" class="prismo-btn">Retour à la liste</a>
</div>
