.profil-component {
  margin: 30px auto;
  padding: 0 10px;
  max-width: 400px;

  .profil-header {
    display: flex;
    position: relative;

    img {
      height: 120px;
    }

    & > div {
        position: absolute;
        top: 50%;
        left: 140px;
        transform: translateY(-50%);
        color: #00ced1;
        font-size: 18px;
        line-height: 24px;

      h1 {
        margin: 0;
        text-align: left;
        font-size: 24px;
        line-height: 30px;
      }
    }
  }

  .profil-body {
    line-height: 24px;
    padding: 30px 0;
  }
}
