<div class="profil-component">
  <div class="profil-header">
    <img src="assets/images/avatars/{{ selectedMember.avatar }}" alt="Avatar de {{ selectedMember.firstname }}">
    <div>
      <h1>{{ selectedMember.firstname }} {{ selectedMember.lastname }}</h1>
      <div>{{ selectedMember.function }}</div>
    </div>
  </div>
  <div class="profil-body">{{ selectedMember.description }}</div>
  <a routerLink="/members-list" class="prismo-btn">Retour à la liste</a>
</div>
