<div class="form-component">
  <h1>Ajouter un membre :</h1>
  <label for="firstname">Prénom*</label>
  <input type="text" id="firstname" name="firstname" [(ngModel)]="firstname" required>
  <label for="lastname">Nom*</label>
  <input type="text" id="lastname" name="lastname" [(ngModel)]="lastname" required>
  <label for="avatar">Photo*</label>
  <input type="text" id="avatar" name="avatar" [(ngModel)]="avatar" required>
  <label for="function">Poste</label>
  <input type="text" id="function" name="function" [(ngModel)]="function">
  <label for="description">Description</label>
  <textarea id="description" name="description" [(ngModel)]="description"></textarea>
  <button (click)="addMember()" class="prismo-btn">Valider</button>
</div>
