.form-component {
  padding: 30px 10px;
  margin: 0 auto;
  max-width: 400px;

  & > * {
    display: block;
  }

  label {
    padding-top: 10px;
    font-size: 18px;
    line-height: 24px;
  }

  input {
    width: 100%;
    line-height: 30px;
    border: 1px solid #00ced1;
    border-radius: 5px;
  }

  textarea {
    width: 100%;
    height: 180px;
    overflow-y: auto;
    border: 1px solid #00ced1;
    border-radius: 5px;
    resize: none;
  }

  .prismo-btn {
    margin-top: 15px;
    padding: 0 20px;
  }
}
