<div class="body-component members-list-component">
  <h1>Nos Membres :</h1>
  <ul>
    <app-member-card *ngFor="let member of membersFromApi"
                     [member]="member"></app-member-card>
  </ul>
  <a routerLink="/create-member" class="prismo-btn">Ajouter un membre</a>
  <a routerLink="/historic" class="prismo-btn">Profils visités</a>
</div>
