li.member-card {
  display: block;
  position: relative;
  margin: 10px 0;
  height: 80px;

  &:hover {
    cursor: pointer;

    span {
      text-decoration: underline;
    }
  }

  img {
    height: 80px;
  }

  span {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    color: #00ced1;
    font-size: 18px;
    line-height: 18px;
  }
}
