<li class="member-card" (click)="getMemberProfil(member)">
  <img src="assets/images/avatars/{{ member.avatar }}"
       alt="Avatar de {{ member.firstname }}"
       [@turningAvatar]="isNormal? 'normal' : 'goneWild'">
  <span>{{ member.firstname }} {{ member.lastname }}</span>
</li>
