/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: sans-serif;
  color: #2b3a3a;
}

h1 {
  margin: 30px 0 20px;
  text-align: center;
  b {
    text-transform: uppercase;
  }
}

a {
  text-decoration: none;

  &:hover,
  &:active,
  &:hover span,
  &:active span {
    text-decoration: underline;
  }
}

.body-component {
  padding: 0 10px;
}

.prismo-btn {
  display: inline-block;
  padding: 0 10px;
  background: none;
  border: 2px solid #00ced1;
  border-radius: 5px;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  color: #00ced1;
  transition: all .3s ease-in-out;

  &:hover,
  &:active {
    text-decoration: none;
    background-color: #00ced1;
    color: white;
  }
}
