.fourzerofour-component {
  height: calc(100vh - 80px);
  position: relative;

  h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);

    span {
      display: block;
    }

    .prismo-btn {
      margin-top: 30px;
    }
  }
}
